<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/pokemon/<%= id %>?_method=PUT" method="post">
    <label>name <input type="text" value="<%= pokemon.name %>" name="name"/></label>
    <label>id <input type="text" value="<%= pokemon.id %>" name="id"/></label>
   <label>image <input type="text" value="<%= pokemon.img %>" name="img"/></label> 
    <input type="submit" value="add pokemon"/>
  </form>
</body>
</html>