<!DOCTYPE html>
<html lang="en">
 
  <body>
   
    <div class="poke-data">
      <h1 class="data-h1"><%= pokemon.name %></h1>
      <div class="poke-image">
        <img src="<%= pokemon.img %>" alt="<%= pokemon.name %>" />
      </div>
      <div class="id">
        <h2>ID: #<%= pokemon.id %></h2>
      </div>
    </div>
  </body>
</html>